#Titulo {
    background-color:cyan;
}

.titulosecundário{
    background-color: aqua;
}

body{
    background-color: cornflowerblue;
}

h1{
    background-color:cyan;

}

h2{
    background-color: aqua;
}